/* change the navbar background and font color */
.nav-theme {
  background-color: #fff;
  color: black;
  font-size: 20px;
  height: 110px;
}

/* animate styling of the navbar */
.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
